<!DOCTYPE html>
<html ng-app="familyApp">
<head>
<meta charset="ISO-8859-1">
<title>Checklist</title>
<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/main.css" type="text/css" rel="stylesheet">
<link href="../resources/css/checklist.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/header_and_buttons.css" type="text/css"
	rel="stylesheet">
<script type="text/javascript" src="../resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="../resources/js/familyApp.js"></script>
<script type="text/javascript" src="../resources/js/controller/headerController.js"></script>
<script type="text/javascript" src="../resources/js/service/headerService.js"></script>

</head>
<body>

	<div class="header" ng-controller="headerController">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-lg-3 col-sm-4 col-md-3 col-xs-4"
					style="height: 280px; margin: 0; padding: 0;">
					<button class="app_logo" ng-click="home()"></button>
				</div>
				<div class="col-lg-8 col-sm-7 col-md-8 col-xs-6">
					<div class="row" style="height: 140px;">
						<div class="header_buttons">
							<button ng-click="logout()" class="header_btn" id="header_logout">
								<img alt="" src="../resources/icons/logout_icon.png"
									width="35px;" style="transform: scaleX(-1);"> LOGOUT
							</button>
							<button ng-click="chat()" class="header_btn">
								<img alt="" src="../resources/icons/groupchat_icon.png"
									width="45px;" height="30px"> GROUP CHAT
							</button>
							<button ng-click="calendar()" class="header_btn">
								<img alt="" src="../resources/icons/dashboard_calendar_icon.png"
									width="35px;"> CALENDAR AND SCHEDULE
							</button>
							<button ng-click="notification()" class="header_btn">
								<img alt="" src="../resources/icons/noti_icon.png" width="40px;">
								NOTIFICATION
							</button>
							<button ng-click="discussion()" class="header_btn" id="header_discuss">
								<img alt="" src="../resources/icons/discussion_icon.png"
									width="45px;"> DISCUSSION
							</button>
							<button ng-click="checklistpage()" class="header_btn">
								<img alt="" src="../resources/icons/checklist_icon.png"
									width="45px;"> CHECK LIST
							</button>
							<button ng-click="familyProfile()" class="header_btn" id="header_familyprofile">
								<img alt="" src="../resources/icons/family_profile_icon.png"
									width="40px;"> FAMILY PROFILE
							</button>
						</div>

					</div>
				</div>
				<div class="col-lg-1 col-sm-1 col-md-1 col-xs-2"
					style="/* height: 280px; */ padding: 0; margin: 0;">
					<div class="profile_container">
						<div class="profile_pic_name">
							<button ng-click="profile()" class="profile_button">
								<img id="profile_pic" alt=""
									src="../resources/images/image_boy_profile.png" width="100%"
									height="70%">
								<div id="profile_name"
									style="font-size: 12px; padding-top: 3px;">PROFILE</div>
							</button>
						</div>
						<div class="arrowhead_border"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="background_div">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="title">ADD CHECK LIST</div>
			</div>
			<div class="row" style="padding-top: 50px;">
				<div class="col-lg-0 col-xs-1 col-sm-0 col-md-1"></div>
				<div class="col-lg-12 col-xs-10 col-sm-12 col-md-10">
					<div id="white_box_checklist">
						<div class="checklist_title">
							<div class="checklist_title_text">
								<font>MANAGE CHECK LIST</font>
							</div>
							<button id="addNewChecklist" class="addIcon"></button>
							<div class="search_bar" style="float: right; margin-top: 15px;">
								<input type="text" class="search" placeholder="SEARCH">
								<button class="cancel"></button>
							</div>							
						</div>
						<div id="checklist_body">
							<div id="checklist">
								<div class="clock"></div>
								<div class="date" style="background-color: #ff6377;">
									<font>MARCH 3</font>
								</div>
								<div class="todo_text">
									<font>"TO PAY THE MONEY FOR SISTER"</font>
								</div>
								<button class="delete">
									<div class="delete_icon"></div>
									<font>DELETE</font>
								</button>
								<button class="edit">
									<div class="edit_icon"></div>
									<font>EDIT</font>
								</button>
								<div class="done">
									<div class="unchecked">
										<div class="checked"></div>
									</div>
									<font style="margin-top: 8px; margin-bottom: 5px;">1/3</font>
								</div>
								<div class="comment_count">
									<font>10</font>
								</div>
								<div class="comment"></div>
							</div>
							<div id="checklist">
								<div class="clock"></div>
								<div class="date" style="background-color: #00dbaa;">
									<font>MAY 5</font>
								</div>
								<div class="todo_text">
									<font>"TESTING AT YANGON OFFICE"</font>
								</div>
								<button class="delete">
									<div class="delete_icon"></div>
									<font>DELETE</font>
								</button>
								<button class="edit">
									<div class="edit_icon"></div>
									<font>EDIT</font>
								</button>
								<div class="done">
									<div class="unchecked">
										<div class="checked"></div>
									</div>
									<font style="margin-top: 8px; margin-bottom: 5px;">1/2</font>
								</div>
								<div class="comment_count">
									<font>10</font>
								</div>
								<div class="comment"></div>
							</div>
							<div id="checklist">
								<div class="clock"></div>
								<div class="date" style="background-color: #ff6377;">
									<font>MAY 9</font>
								</div>
								<div class="todo_text">
									<font>"DINNER AT HOME"</font>
								</div>
								<button class="delete">
									<div class="delete_icon"></div>
									<font>DELETE</font>
								</button>
								<button class="edit">
									<div class="edit_icon"></div>
									<font>EDIT</font>
								</button>
								<div class="done">
									<div class="unchecked">
										<div class="checked"></div>
									</div>
									<font style="margin-top: 8px; margin-bottom: 5px;">2/5</font>
								</div>
								<div class="comment_count">
									<font>10</font>
								</div>
								<div class="comment"></div>
							</div>
						</div>
						<div class="load_more_container">
							<button class="load_more">LOAD MORE</button>
						</div>
					</div>
				</div>
				<div class="col-lg-0 col-xs-1 col-sm-0 col-md-1"></div>
			</div>
		</div>



	</div>

	<script type="text/javascript">

			document.getElementById("addNewChecklist").onclick = function() {
				location.href="http://localhost:8080/FamilyApp/views/create_checklist_activity.html";
				};

		</script>

</body>
</html>