<!DOCTYPE html>
<html ng-app="familyApp">
<head>
<meta charset="ISO-8859-1">
<link href="../resources/css/header_and_buttons.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/main.css" type="text/css" rel="stylesheet">
<link href="../resources/css/event_detail.css" type="text/css"
	rel="stylesheet">
	

<script type="text/javascript" src="../resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="../resources/js/familyApp.js"></script>
<script type="text/javascript" src="../resources/js/controller/headerController.js"></script>
<script type="text/javascript" src="../resources/js/service/headerService.js"></script>
<title>Event Details</title>
</head>
<body>

	<div class="header" ng-controller="headerController">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-lg-3 col-sm-4 col-md-3 col-xs-4"
					style="height: 280px; margin: 0; padding: 0;">
					<button class="app_logo" ng-click="home()"></button>
				</div>
				<div class="col-lg-8 col-sm-7 col-md-8 col-xs-6">
					<div class="row" style="height: 140px;">
						<div class="header_buttons">
							<button ng-click="logout()" class="header_btn" id="header_logout">
								<img alt="" src="../resources/icons/logout_icon.png"
									width="35px;" style="transform: scaleX(-1);"> LOGOUT
							</button>
							<button ng-click="chat()" class="header_btn">
								<img alt="" src="../resources/icons/groupchat_icon.png"
									width="45px;" height="30px"> GROUP CHAT
							</button>
							<button ng-click="calendar()" class="header_btn">
								<img alt="" src="../resources/icons/dashboard_calendar_icon.png"
									width="35px;"> CALENDAR AND SCHEDULE
							</button>
							<button ng-click="notification()" class="header_btn">
								<img alt="" src="../resources/icons/noti_icon.png" width="40px;">
								NOTIFICATION
							</button>
							<button ng-click="discussion()" class="header_btn" id="header_discuss">
								<img alt="" src="../resources/icons/discussion_icon.png"
									width="45px;"> DISCUSSION
							</button>
							<button ng-click="checklistpage()" class="header_btn">
								<img alt="" src="../resources/icons/checklist_icon.png"
									width="45px;"> CHECK LIST
							</button>
							<button ng-click="familyProfile()" class="header_btn" id="header_familyprofile">
								<img alt="" src="../resources/icons/family_profile_icon.png"
									width="40px;"> FAMILY PROFILE
							</button>
						</div>

					</div>
				</div>
				<div class="col-lg-1 col-sm-1 col-md-1 col-xs-2"
					style="/* height: 280px; */ padding: 0; margin: 0;">
					<div class="profile_container">
						<div class="profile_pic_name">
							<button ng-click="profile()" class="profile_button">
								<img id="profile_pic" alt=""
									src="../resources/images/image_boy_profile.png" width="100%"
									height="70%">
								<div id="profile_name"
									style="font-size: 12px; padding-top: 3px;">PROFILE</div>
							</button>
						</div>
						<div class="arrowhead_border"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="background_div">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="title">EVENT DETAILS</div>
			</div>
			<div class="row" style="padding: 50px;">
				<div class="col-lg-1 col-md-0 col-xs-0"></div>
				<div class="col-lg-10 col-md-12 col-xs-12">
					<div class="event_detail_white_box">
						<div class="title_bar">LUNCH TIME MEETING</div>
						<div class="detail_body">
							<div class="titles_inputs">
								<div class="titles">
									<img alt="" src="../resources/icons/clock_icon.png"
										style="float: left; width: 20px; height: 20px; margin-right: 10px;">TIME
								</div>
								<div class="input_div">
									<input class="inputs" readonly="readonly"
										placeholder="11:00 AM TO 12:00 PM">
								</div>
							</div>
							<div class="titles_inputs">
								<div class="titles" style="padding-top: 0px;">
									<img alt="" src="../resources/icons/locate_icon.png"
										width="35px" style="margin-top: -5px; margin-left: -8px;">LOCATION
								</div>
								<div class="input_div">
									<input class="inputs" readonly="readonly"
										placeholder="SHWE KAUNG HOTPOT, MYANMAR PALAZA, 192, KABAR AYE PAGODA, GAHAN TSP, YANGON">
								</div>
							</div>
							<div class="titles_inputs">
								<div class="titles">
									<img alt="" src="../resources/icons/calendar_icon.png"
										style="float: left; width: 20px; height: 20px; margin-right: 10px;">DATE
								</div>
								<div class="input_div">
									<input class="inputs" readonly="readonly"
										placeholder="FRIDAY, MARCH 20, 2017">
								</div>
							</div>
							<div class="titles_inputs">
								<div class="titles">
									<img alt="" src="../resources/icons/description_icon.png"
										style="float: left; width: 15px; height: 20px; margin-right: 10px;">DESCRIPTION
								</div>
								<div class="input_div">
									<input class="inputs" readonly="readonly"
										placeholder="CAN WE MEET IN THE RESTAURANT AT THE MYANMAR PALAZA?">
								</div>
							</div>
							<div class="titles_inputs">
								<div class="titles">ALERT</div>
								<div class="input_div">
									<input class="inputs" style="width: 60%;" placeholder="LABELS">
									<button
										style="background-image: url(../resources/icons/down_icon.png); background-size: 100% 100%; background-repeat: no-repeat; background-color: transparent; border: none; height: 23px; width: 30px; float: right; margin: 8.5px"></button>
								</div>
							</div>

							<div class="invitation_box">
								<div class="inviter_box">
									<img alt="" src="../resources/icons/user_circle_icon.png" width="60px" style="float: left; margin-top: -10px; margin-left: -10px;">
									<div style="float: left;">
										<div style="font-size: 16px;">INVITER</div>
										<div id="inviter_name">JOHN</div>
									</div>
								</div>
								<div class="invitee_list">
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left;margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px;" id="invitee_name">MARY</div>
											<div style="font-size: 12px; color: orange;" id="status">MAY BE</div>
										</div>
									</div>
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left; margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px; display: inline;" id="invitee_name">ALICE</div>
											<div style="font-size: 12px; color: green;" id="status">ACCEPTED</div>
										</div>
									</div>
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left; margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px;" id="invitee_name">RICHARD</div>
											<div style="font-size: 12px; color: red;" id="status">DECLINE</div>
										</div>
									</div>
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left; margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px;" id="invitee_name">ANGEL</div>
											<div style="font-size: 12px; color: green;" id="status">ACCEPTED</div>
										</div>
									</div>
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left; margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px;" id="invitee_name">HARRY</div>
											<div style="font-size: 12px; color: green;" id="status">ACCEPTED</div>
										</div>
									</div>
									<div class="invitees">
										<img alt="" src="../resources/icons/user_icon.png" width="30px" style="float: left; margin-top: 5px; margin-left: 5px;">
										<div style="float: left; margin-left: 10px;">
											<div style="font-size: 14px;" id="invitee_name">CHRISTINE</div>
											<div style="font-size: 12px; color: orange;" id="status">MAY BE</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="buttons_container">
									<button id="accept_event" class="event_detail_buttons">DECLINE</button>
									<button id="maybe_event" class="event_detail_buttons">MAY
										BE</button>
									<button id="decline_event" class="event_detail_buttons"
										disabled>ACCEPT</button>
								</div>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-0 col-xs-0"></div>
			</div>
		</div>


	</div>

	<script type="text/javascript">

		document.getElementById("maybe_event").onclick = function() {
			this.setAttribute("disabled", true);
			document.getElementById("decline_event").removeAttribute("disabled");
			document.getElementById("accept_event").removeAttribute("disabled");
		};
		
		document.getElementById("decline_event").onclick = function() {
			this.setAttribute("disabled", true);
			document.getElementById("maybe_event").removeAttribute("disabled");
			document.getElementById("accept_event").removeAttribute("disabled");
		};
		
		document.getElementById("accept_event").onclick = function() {
			this.setAttribute("disabled", true);
			document.getElementById("decline_event").removeAttribute("disabled");
			document.getElementById("maybe_event").removeAttribute("disabled");
		};

	</script>

</body>
</html>