<!DOCTYPE html>
<html ng-app="familyApp">
<head>
<meta charset="ISO-8859-1">
<title>Forget Password</title>

<link href = "../resources/css/bootstrap-theme.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap-theme.min.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap.css" type = "text/css" rel="stylesheet">
<link href = "../resources/css/bootstrap.min.css" type = "text/css" rel="stylesheet">

<link href="../resources/css/forget_password.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="../resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="../resources/js/familyApp.js"></script>
<script type="text/javascript" src="../resources/js/controller/forgotPasswordController.js"></script>
<script type="text/javascript" src="../resources/js/service/forgotPasswordService.js"></script>

</head>
<body ng-controller="forgotpasswordController">
	<div class="forget_passwordBox">
		<div class="pageHeaderForgetPassword">
			<div class="logo"></div>
		</div>
		
		<div class="white-box-waitfamily">
			
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="white-boxfp">
				<div class="white-box-centerfp">
					<font>FORGOT YOUR PASSWORD ?</font><br/>
					<div class="second">Enter your email below to reset your password.</div>	
					<form name="forgotpassword" action="/">
						<font>EMAIL ADDRESS</font><br />
						<div class="placeholder">
							<input type="email" name="email" ng-model="email" ng-model="email" class="email" placeholder="EXAMPLE@GMAIL.COM" required>
							<span style="color: red;" ng-show="submitted && forgotpassword.email.$error.required">{{message}}</span>
							<span style="color: red;" ng-show="submitted && forgotpassword.email.$error.email">{{invalid_email}}</span>
						</div>
						<div id="checkemail"></div>
						<br />

						<button type="button" class="emailcancel" ng-click="emailcancel()" id="emailcancel" onclick="loginFunction()">CANCEL</button>
						<button type="button" class="emailsent" ng-click="emailsent()" style="float: right" ng-click="forgetPassword()">SENT</button>

					</form>
				</div>
			</div>
			
		</div>
		
		<footer class="pagefooterForgetPassword">
			
		</footer>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script>
	function loginFunction() {
	   
	    location.href='/FamilyApp_WebUI/views/login.html';
	}


	$(document).ready(function(){
		$('#emailsent').click(checkpassword);
		});

	function checkpassword(){
		var email= $("#emailsent").val();

		if(email == ''){
			$("#checkemail").css('color', 'red','font-family', 'ChalkboardSE');
			$("#checkemail").css('font-family', 'ChalkboardSE');
			$("#checkemail").css('font-size', '16px');
			$("#checkemail").css('margin-left', '40px');
			$("#checkemail").text("Email shouldn't be null");
		}
	}
	</script>
	

</body>
</html>