<!DOCTYPE html>
<html ng-app="familyApp">
<head>
<meta charset="ISO-8859-1">

<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/main.css" type="text/css" rel="stylesheet">
<link href="../resources/css/notification.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/header_and_buttons.css" type="text/css"
	rel="stylesheet">
	

<script type="text/javascript" src="../resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="../resources/js/familyApp.js"></script>
<script type="text/javascript" src="../resources/js/controller/headerController.js"></script>
<script type="text/javascript" src="../resources/js/service/headerService.js"></script>
<title>Notification</title>
</head>
<body>

	<div class="header" ng-controller="headerController">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-lg-3 col-sm-4 col-md-3 col-xs-4"
					style="height: 280px; margin: 0; padding: 0;">
					<button class="app_logo" ng-click="home()"></button>
				</div>
				<div class="col-lg-8 col-sm-7 col-md-8 col-xs-6">
					<div class="row" style="height: 140px;">
						<div class="header_buttons">
							<button ng-click="logout()" class="header_btn" id="header_logout">
								<img alt="" src="../resources/icons/logout_icon.png"
									width="35px;" style="transform: scaleX(-1);"> LOGOUT
							</button>
							<button ng-click="chat()" class="header_btn">
								<img alt="" src="../resources/icons/groupchat_icon.png"
									width="45px;" height="30px"> GROUP CHAT
							</button>
							<button ng-click="calendar()" class="header_btn">
								<img alt="" src="../resources/icons/dashboard_calendar_icon.png"
									width="35px;"> CALENDAR AND SCHEDULE
							</button>
							<button ng-click="notification()" class="header_btn">
								<img alt="" src="../resources/icons/noti_icon.png" width="40px;">
								NOTIFICATION
							</button>
							<button ng-click="discussion()" class="header_btn" id="header_discuss">
								<img alt="" src="../resources/icons/discussion_icon.png"
									width="45px;"> DISCUSSION
							</button>
							<button ng-click="checklistpage()" class="header_btn">
								<img alt="" src="../resources/icons/checklist_icon.png"
									width="45px;"> CHECK LIST
							</button>
							<button ng-click="familyProfile()" class="header_btn" id="header_familyprofile">
								<img alt="" src="../resources/icons/family_profile_icon.png"
									width="40px;"> FAMILY PROFILE
							</button>
						</div>

					</div>
				</div>
				<div class="col-lg-1 col-sm-1 col-md-1 col-xs-2"
					style="/* height: 280px; */ padding: 0; margin: 0;">
					<div class="profile_container">
						<div class="profile_pic_name">
							<button ng-click="profile()" class="profile_button">
								<img id="profile_pic" alt=""
									src="../resources/images/image_boy_profile.png" width="100%"
									height="70%">
								<div id="profile_name"
									style="font-size: 12px; padding-top: 3px;">PROFILE</div>
							</button>
						</div>
						<div class="arrowhead_border"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="background_div">
		<div class="container">
			<div class="row" style="text-align: center;">
				<div class="title">NOTIFICATION</div>
			</div>
			<div class="row" style="padding-top: 50px;">
				<div class="col-lg-12">
					<div class="notification_white_box">
						<!-- <div class="notification_header">
							<button class="noti_buttons">REQUEST</button>
							<div
								style="margin-left: 20px; margin-top: 10px; margin-right: 25px; text-align: center; float: left;">|</div>
							<button class="noti_buttons">ACTIVITIES</button>
						</div> -->
						<div class="notification_body">
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">JUSTIN</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">2 HOURS AGO</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">JOHN</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">3 HOURS AGO</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
							<div class="noti_list">
								<img src="../resources/icons/user_icon.png" height="30px"
									width="30px" style="float: left; margin: 10px;">
								<div class="noti_time_container">
									<div class="noti_text">
										<div id="sender_name" style="float: left; margin-right: 5px;">ALICE</div>
										HAS REQUESTED TO JOIN YOUR FAMILY.
									</div>
									<div class="time_text" id="received_time">JUST NOW</div>
								</div>
								<button class="notification_delete_accept"
									id="notification_cancel"
									style="background-image: url(../resources/icons/cancel_icon.png)"></button>
								<button class="notification_delete_accept"
									id="notification_accept"
									style="background-image: url(../resources/icons/accept_icon.png)"></button>
							</div>
						</div>
						<div class="load_more_container">
							<button class="load_more">VIEW
								ALL NOTIFICATIONS</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</body>
</html>