<!DOCTYPE html>
<html ng-app="familyApp">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>

<link href="../resources/css/bootstrap-theme.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap-theme.min.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet">

<link href="../resources/css/headerwithbutton.css" type="text/css"
	rel="stylesheet">
<link href="../resources/css/reset_password.css" type="text/css"
	rel="stylesheet">

<script type="text/javascript" src="../resources/js/common_functions.js"></script>

<script type="text/javascript" src="../resources/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="../resources/js/familyApp.js"></script>
<script type="text/javascript" src="../resources/js/controller/forgotPasswordController.js"></script>
<script type="text/javascript" src="../resources/js/service/forgotPasswordService.js"></script>

</head>
<body ng-controller="resetpasswordController">
	<div class="container-fluid">
		<div class="row" id="pageHeaderReset">
			<div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5"
				id="logo"></div>
		</div>
		
		<div class="row" id="pagefooterwithresetBox">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="text-box-reset">
				
			</div>
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="white-box-reset">
				<div class="resetInfo_center">
					<font>RESET YOUR PASSWORD</font><BR/>
					<div class="textclass">In the field below enter your password.</div>
					<form class="form-horizontal" action="/" id="joinFamilyForm" method="post" name="resetpassword">
						
						<font>ENTER CODE</font><br/>
						<div class="placeholder"><input type="text" ng-model="code" class="form-control" name="code" placeholder="ENTER CODE" required  data-error-msg="Must enter your familyId?">
							<span style="color: red;" ng-show="submitted && resetpassword.code.$error.required">{{code_required}}</span>
						</div>
						<!-- <div id="checkcode"></div> -->
						<br/>
						
						<font>NEW PASSWORD</font><br/>
						<div class="placeholder"><input name="newpassword" type="password" ng-model="newpassword" class="form-control" placeholder="NEW PASSWORD" ng-minlength="8" required>
							<span style="color: red;" ng-show="submitted && resetpassword.newpassword.$error.required">{{password}}</span>
							<span style="color: red;" ng-show="resetpassword.newpassword.$dirty && resetpassword.newpassword.$invalid">{{min_character}}</span>
						</div>
						<!-- <div id="checkpassword"></div> -->
						<br/>
						
						<font>CONFIRM PASSWORD</font><br/>
						<div class="placeholder"><input name="confirmpassword" type="password" ng-model="confirmpassword" id="confirmpassword" class="form-control" placeholder="CONFIRM PASSWORD" value-matches="newpassword" ng-minlength="8" required>
							<span style="color: red;" ng-show="submitted && resetpassword.confirmpassword.$error.required">{{confirm_password}}</span>
							<span style="color: red;" ng-show="resetpassword.confirmpassword.$dirty && resetpassword.confirmpassword.$invalid">{{password_does_not_match}}</span>
							<span style="color: red;" ng-show="resetpassword.confirmpassword.$valid && resetpassword.newpassword.$valid && resetpassword.code.$valid">{{error_message}}</span>
						
						</div>
						<!-- <div id="checkconfirmpassword"></div> -->
						<br/>
						<button type="button" ng-click="resetcancel()" id="resetcancel">CANCEL</button>
						<button type="button" ng-click="reset()" id="reset" style="float: right">DONE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
	//validate
	$(document).ready(function(){
		$('#confirmpassword').keyup(checkpasswordMatch);
		});

	function checkpasswordMatch(){
			var newpassword= $("#newpassword").val();
			var confirmpassword= $("#confirmpassword").val();

			if(newpassword != confirmpassword)
				{
					/* $("#checkpasswordMatch").css('color': 'red','font-family': 'ChalkboardSE','font-size': '16px','margin-left': '60px'); */
					$("#checkconfirmpassword").css('color', 'red','font-family', 'ChalkboardSE');
					$("#checkconfirmpassword").css('font-family', 'ChalkboardSE');
					$("#checkconfirmpassword").css('font-size', '14px');
					$("#checkconfirmpassword").css('margin-left', '10px');
					$("#checkconfirmpassword").text("Confirm password does not match password");

				}
			
			else{
				$("#checkconfirmpassword").css('color', 'red','font-family', 'ChalkboardSE');
				$("#checkconfirmpassword").css('font-family', 'ChalkboardSE');
				$("#checkconfirmpassword").css('font-size', '14px');
				$("#checkconfirmpassword").css('margin-left', '10px');
				$("#checkconfirmpassword").text("");
			}
		}


	$(document).ready(function(){
		$('#newpassword').keyup(checkpasswordCount);
		});

	function checkpasswordCount(){
			var newpassword= $("#newpassword").val();
			

			if(newpassword.length < 8)
			{
				$("#checkpassword").css('color', 'red','font-family', 'ChalkboardSE');
				$("#checkpassword").css('font-family', 'ChalkboardSE');
				$("#checkpassword").css('font-size', '14px');
				$("#checkpassword").css('margin-left', '10px');
				$("#checkpassword").text("Password must be at least 8");

			}
			else{
				$("#checkpassword").css('color', 'red','font-family', 'ChalkboardSE');
				$("#checkpassword").css('font-family', 'ChalkboardSE');
				$("#checkpassword").css('font-size', '14px');
				$("#checkpassword").css('margin-left', '10px');
				$("#checkpassword").text("");
			}
		}


	


	$(document).ready(function(){
		$('#reset').click(checkpassword);
		});

	function checkpassword(){
		var newpassword= $("#newpassword").val();
		var confirmpassword= $("#confirmpassword").val();
		var code = $("#code").val();
		

		if(newpassword == ''){
			$("#checkpassword").css('color', 'red','font-family', 'ChalkboardSE');
			$("#checkpassword").css('font-family', 'ChalkboardSE');
			$("#checkpassword").css('font-size', '14px');
			$("#checkpassword").css('margin-left', '10px');
			$("#checkpassword").text("Password shouldn't be null");
		}

		

		if(confirmpassword == ''){
			$("#checkconfirmpassword").css('color', 'red','font-family', 'ChalkboardSE');
			$("#checkconfirmpassword").css('font-family', 'ChalkboardSE');
			$("#checkconfirmpassword").css('font-size', '14px');
			$("#checkconfirmpassword").css('margin-left', '10px');
			$("#checkconfirmpassword").text("Confirm Password shouldn't be null");
		}

	
		if(code == ''){
			$("#checkcode").css('color', 'red','font-family', 'ChalkboardSE');
			$("#checkcode").css('font-family', 'ChalkboardSE');
			$("#checkcode").css('font-size', '14px');
			$("#checkcode").css('margin-left', '10px');
			$("#checkcode").text("Code shouldn't be null");
		}
	}
	

	</script>
</body>
</html>