<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../resources/css/dialogbox.css" type="text/css" rel="stylesheet">

</head>
<body style="background-color: #fef5e6">
<center>
	<div class="confirmation">
		<h3>CONFIRMATION!</h3>
		<img alt="" src="../resources/icons/confirmation_icon.png" height="100px" class="confirm_image">
		<div>Are you sure you want to delete?</div>
		<div>
			<button class="btns">CANCEL</button>
			<button class="btns">OK</button>
		</div>
	</div>
	<br><br><br><br><br>
	<div class="confirmation">
		<h3>ERROR!</h3>
		<img alt="" src="../resources/icons/error_icon.png" height="70px" class="error_image">
		<div>Something went wrong. An error occured.</div>
		<div>
			<button class="btns">OK</button>
		</div>
	</div>
	
	<br><br><br><br><br>
	<div class="confirmation">
		<h3>ERROR!</h3>
		<img alt="" src="../resources/icons/success_icon.png" height="70px" class="error_image">
		<div>Congratulations. You are successful.</div>
		<div>
			<button class="btns">OK</button>
		</div>
	</div>
	
	<br><br><br><br><br>
	
</center>
<div class="checklist_dialog">
	<p>CHECKLIST NAME</p>
	<input type="text" placeholder="Checklsit Name">
	
	<p>DESCRIPTION</p>
	<input type="text" placeholder="Description">
	
	<div>
			<button class="btns">OK</button>
			<button class="btns">CANCEL</button>
		</div>
</div>

</body>
</html>